<h1> All Posts </h1>
<%= link_to "Add Post", new_post_path %>

<% @posts.each do |post| %>
    <div>
        <h2>
            Title: <%= link_to post.title, post %>
        </h2>
        </br>
        <p>
            <%= post.content %>
        </p>
       
    </div>
<% end %>
